@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');
.wid {
    width: 80%;
    height: 100%;
}

.fontsss{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

.text {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.w-50 {
    width: 30%;
}

.carousel-inner {
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}

