.bg{
    /* background-color: #222831; */
    color: #ffffff;
    padding: 75px 0 40px 0;
    text-align: center;
};

.register-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
};

.register-img img{
    width: 400px;
    height: 550px;
};