@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}




.bm-item {
	display: inline-block;
	text-decoration: none;
	margin-bottom: 10px;
	color: #f1c40f;
	transition: color 0.2s;
	font-family: 'Cinzel', serif;
}

.bm-item:hover {
	color: #f1c40f;
}

.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
}

.bm-burger-bars {
	margin-top: 20px;
	background: #f1c40f;
}

.bm-cross-button {
	height: 24px;
	width: 24px;
}

.bm-cross {
	background: #bdc3c7;
}

.bm-menu {
	background: black;
	/* padding: 2.5em 1.5em 0; */
	font-size: 1.15em;
}

.bm-morph-shape {
	fill: #373a47;
}

.bm-item-list {
	color: #f1c40f;
}

.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}